@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");

.achievement {
  font-family: "Birthstone", cursive;
}

.container1 {
  margin: 0 auto;
  width: 20rem;
  height: 15rem;
  perspective: 60rem;
}
.carousel-position {
  position: relative;
  top: 00vh;
}

.carousel {
  transform-style: preserve-3d;
  transition: 1s;
}

.thumbnail {
  height: 15rem;
  width: 20rem;
  /* background-color: black; */
  border: 2px solid black;
  position: absolute;
  font-size: 5em;
  border-radius: 5%;
  line-height: 13rem;
  opacity: 50%;
  transition: 1s;
}

.thumbnail:hover {
  cursor: pointer;
  opacity: 100%;
}

.rotateY {
  transform: rotateY(60deg);
}

.a1 {
  transform: rotateY(0deg) translateZ(20rem);
}

.b1 {
  transform: rotateY(60deg) translateZ(20rem);
}

.c1 {
  transform: rotateY(120deg) translateZ(20rem);
}

.d1 {
  transform: rotateY(180deg) translateZ(20rem);
}

.e1 {
  transform: rotateY(240deg) translateZ(20rem);
}

.f1 {
  transform: rotateY(300deg) translateZ(20rem);
}
