.teamName::before{
    content: "";
    width: 10%;
    background: #fff;
    height: 3px;
    margin-right: 2%;

}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.teamName {
    display: flex;
    color: #fff;
    align-items: center;
    margin: 10vh 0 1vh 0;
    letter-spacing: 2.5px;

}

.SwiperHide {
    display: none;
}
.SliderWrapper {
    :global(.swiper-pagination-bullet) {
      background: white;
      width: 1rem;
      height: 1rem;
      border-radius: .5rem;
      opacity: 1;
  }
  
  :global(.swiper-pagination-bullet-active) {
    background-color: blue;
    width: 5rem;
    height: 1rem;
    border-radius: .5rem;
  }
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    background-color: red;
}


/*move swiper pagination on top to image */
.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    top: 0 !important;
}
@media screen and (max-width: 1140px){
    .SwiperHide {
        display: block;
        padding:10%;
    }
    .teamName{
        display: none;
    }
    .teamName::before{
        display: none;
    }

    .mobileShow{
        display:block;
    }
    .mobileShow:active{
        color: chartreuse;
    }

    .mobileHide{
        display: none;
    }
}