.react-reveal {
  animation-duration: 1000ms !important;
}

.scene {
  perspective: 40rem; /*40rem*/
  perspective-origin: center;
  height: 50px; /*65%*/
  width: 0px; /*600px */
}

.cube {
  width: 100%;
  height: 100%;
  margin-left: -15rem;
  transform-style: preserve-3d;
  /* transform-origin: 50% 50%; */
  transform: rotateY(0deg);
}

.cube-animation {
  transform: translateY(-8rem) rotateX(0deg) rotateY(0deg);
  animation-name: rotate;
  animation-duration: 14s;
  animation-iteration-count: infinite;
}

.modal {
  position: fixed;
  top: 13vh;
  height: 100vh;
  width: 100vw;
}

.zoom {
  animation-name: zoom;
  animation-duration: 10s;
}
@keyframes zoom {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes rotate {
  /* 0% {
    transform: rotateY(0deg) rotateX(0deg) translateY(-8rem);
  } */
  25% {
    transform: rotateX(-90deg) translateY(-8rem);
  }
  /* 43% {
    transform: rotateY(-90deg);
  } */
  50% {
    transform: rotateX(-180deg) translateY(-8rem);
  }
  /* 72% {
    transform: rotateY(90deg);
  } */
  75% {
    transform: rotateX(-270deg) translateY(-8rem);
  }
  /* 100% {
    transform: rotateY(0deg) rotateX(-360deg) translateY(-8rem);
  } */
}

.face {
  /* width: 250px;
  height: 250px;
  line-height: 250px; */
  width: 32rem;
  height: 16rem;
  line-height: 16rem;
}

.a {
  transform: rotateY(0deg) translateZ(8rem);
}

.b {
  transform: rotateY(180deg) translateZ(8rem);
}

.c {
  transform: rotateY(90deg) translateZ(20rem);
}

.d {
  transform: rotateY(-90deg) translateZ(8rem);
}

.e {
  transform: rotateX(90deg) translateZ(8rem);
}

.f {
  transform: rotateX(-90deg) translateZ(8rem);
}

img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
